.app-container {
  height: 100%;
}

.header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #666666;
}

.header h1 {
  text-align: center;
}

.left-pane {
  float: left;
  width: 200px;
  height: calc(100% - 70px);
}

.right-pane {
  float: left;
  width: calc(100% - 201px);
  height: calc(100% - 70px);
  padding-left: 25px;
}

.loading {
  text-align: center;
  margin-top: 50px;
}